@import url("https://fonts.googleapis.com/css2?family=Andika:ital,wght@0,400;0,700;1,400;1,700&family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Bricolage Grotesque", "DM Sans", Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* color: #ffffff; */
}

.font-Bricolage {
  font-family: "Bricolage Grotesque", sans-serif !important;
}

.font-sans {
  font-family: "DM Sans", sans-serif !important;
}

a {
  color: inherit;
  text-decoration: none;
}

.fancy-button {
  position: relative;
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
  font-family: inherit;
  display: inline-block;
  transform-style: preserve-3d;
  perspective: 1000px;
}

.bg-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ebc48b;
  border-radius: 12px;
  transform: rotate(0.96deg);
  z-index: 0;
}

.button-content {
  display: inline-block;
  background-color: #8a1538; /* maroon */
  color: #fff;
  padding: 14px 28px;
  font-weight: 500;
  border-radius: 12px;
  transform: rotate(-2.66deg);
  position: relative;
  z-index: 1;
}

@keyframes rotatefg {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(2.66deg);
  }
}

@keyframes rotatebg {
  0% {
    transform: rotate(0.96deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.fancy-button:hover .button-content {
  animation: rotatefg 10s;
}

.button-content:hover .bg-layer {
  animation: rotatebg 10s;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@keyframes upDown {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

.updownmotion {
  animation: upDown 3s ease-in-out infinite;
}

.icon-color {
  color: #8a1538 !important;
}

.shadow-maroon {
  box-shadow: 4px 4px 0px rgba(138, 21, 56);
}

.link-tag {
  cursor: pointer;
}

@media (min-width: 992px) {
  .blog-image {
    width: 100%;
  }
}

@keyframes rotatebgCard {
  0% {
    transform: rotate(3.75deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.animate-card:hover .card-content {
  animation: rotatebgCard 10s;
}

.mision-box-size {
  width: 583px;
  height: 195px;
}

.carousel-font {
  font-size: 67px;
}

.label-form {
  font-size: 15px !important;
  color: #655945 !important;
  font-family: "DM Sans", sans-serif !important;
}

.form-field {
  height: 40px;
  border: 1px;
  border-radius: 8px;
  border-color: #6559453d;
}

.form-select {
  height: 40px;
  border-radius: 8px;
  background-color: #fff3e1;
}

.program-item-box {
  width: 480px;
  height: 215px;
}

.review-card {
  width: 480px;
  height: 330px;
}

@media (max-width: 377px) {
  .mision-box-size {
    width: 300px;
    height: 300px;
  }
}

@media (min-width: 378px) {
  .mision-box-size {
    width: 400px;
    height: 280px;
  }
}

@media (min-width: 1000px) {
  .mision-box-size {
    width: 583px;
    height: 195px;
  }
}

@media (max-width: 768px) {
  .carousel-font {
    font-size: 36px;
  }
}

@media (max-width: 426px) {
  .program-item-box {
    width: 280px;
    height: 215px;
  }
}

@media (max-width: 426px) {
  .review-card {
    width: 300px;
    height: 400px;
  }
}
